name: Liquibase Pipeline

on:
  push:
    branches:
      - main

jobs:
  liquibase-dev:
    name: Desarrollo
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5435:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Liquibase
        run: |
          LIQUIBASE_VERSION=4.24.0
          curl -LO https://github.com/liquibase/liquibase/releases/download/v${LIQUIBASE_VERSION}/liquibase-${LIQUIBASE_VERSION}.tar.gz
          mkdir liquibase
          tar -xzf liquibase-${LIQUIBASE_VERSION}.tar.gz -C liquibase --strip-components=1
          echo "Contenido de la carpeta liquibase:"
          ls -lah liquibase
          echo "Probando ejecución..."
          chmod +x liquibase/liquibase
          ./liquibase/liquibase --version || echo "❌ El ejecutable liquibase no se encontró"

          
      - name: Download PostgreSQL JDBC Driver
        run: |
          curl -o postgresql.jar https://jdbc.postgresql.org/download/postgresql-42.7.3.jar

      - name: Run liquibase update
        run: ./liquibase/liquibase update
        working-directory: liquibase  # <- asegura que está en la carpeta correcta
        env:
          LIQUIBASE_CLASSPATH: ../postgresql.jar
          LIQUIBASE_CHANGELOG_FILE: ../changelogs/master.yml
          LIQUIBASE_URL: jdbc:postgresql://localhost:5433/postgres
          LIQUIBASE_USERNAME: postgres
          LIQUIBASE_PASSWORD: postgres

  liquibase-preprod:
    name: Preproducción
    runs-on: ubuntu-latest
    needs: liquibase-dev
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5434:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Liquibase
        run: |
          curl -sS https://download.liquibase.com/liquibase-4.24.0.tar.gz | tar -xz
          sudo mv liquibase /usr/local/bin/liquibase

      - name: Download PostgreSQL JDBC Driver
        run: |
          curl -o postgresql.jar https://jdbc.postgresql.org/download/postgresql-42.7.3.jar

      - name: Run Liquibase update on preproducción
        run: liquibase update
        env:
          LIQUIBASE_CLASSPATH: postgresql.jar
          LIQUIBASE_CHANGELOG_FILE: changelogs/master.yml
          LIQUIBASE_URL: jdbc:postgresql://localhost:5433/postgres
          LIQUIBASE_USERNAME: postgres
          LIQUIBASE_PASSWORD: postgres

  liquibase-prod:
    name: Producción
    runs-on: ubuntu-latest
    needs: liquibase-preprod
    environment:
      name: produccion
      url: https://example.com/produccion
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5435:5432
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Liquibase
        run: |
          curl -sS https://download.liquibase.com/liquibase-4.24.0.tar.gz | tar -xz
          sudo mv liquibase /usr/local/bin/liquibase

      - name: Download PostgreSQL JDBC Driver
        run: |
          curl -o postgresql.jar https://jdbc.postgresql.org/download/postgresql-42.7.3.jar

      - name: Run Liquibase update on producción
        run: liquibase update
        env:
          LIQUIBASE_CLASSPATH: postgresql.jar
          LIQUIBASE_CHANGELOG_FILE: changelogs/master.yml
          LIQUIBASE_URL: jdbc:postgresql://localhost:5433/postgres
          LIQUIBASE_USERNAME: postgres
          LIQUIBASE_PASSWORD: postgres
